.main-container{
    display: flex;
    margin-left: 20px;
       
}

.button{
    color:white;
    background-color: goldenrod;
    margin: 20px;
    cursor: pointer;
    width: 150px;
    height: 30px;
    border-radius: 5px 5px;
}
.info-container{
    display: flex;
    margin-right: 20px;
    border-right: 2px solid lightgray;
    width: 70%;
    border-bottom: 1px solid lightgray;
}

.info-container img{
    width: 250px;
    height: 250px;
    margin-left: 200px;
    margin-top: 30px;
    justify-items: self-end;
}

.info-cart{
    text-align: center;
    margin-left: 75px;
}


